*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  margin: 0;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-self: center;
  background-image: url("../public/marek-piwnicki-a0kOyXbR5v8-unsplash.jpg");
  background-size: cover;
  color: white;
}

.calculatorContainer {
  margin: auto;
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.calculatorScreen {
  height: 30%;
  font-size: 2rem;
  background-color: rgba(40, 67, 94, 0.699);
  position: relative;
}

.result {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
}

.calculatorButtons {
  display: grid;
  gap: 0.1rem;
  height: 100%;
  margin-top: 0.1rem;
  background-color: none;
  grid-template-columns: repeat(4, 1fr);
}

.span-2 {
  grid-column: 1 / span 2;
}

button {
  background-color: rgba(40, 67, 94, 0.699);
  color: white;
  border: none;
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    background-color: rgba(54, 91, 128, 0.699);
  }
}

@media only screen and (max-width: 800px) {
  .App {
    background-position: 47%;
  }

  .calculatorScreen {
    font-size: 2.5rem;
  }

  .button {
    font-size: 1.5rem;
  }

  .span-2 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .App {
    background-position: 42%;
  }
}
